@model IEnumerable<ZenithWebsite.Models.ApplicationUser>


@{
    ViewData["Title"] = "Index";
    ViewData["UserExist"] = "No";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
            @foreach (var role in ViewData["Roles"] as IList<string>)
            {
            <th>
                Is @role
            </th>
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            @foreach (var role in ViewData["Roles"] as IList<string>)
            {
                <td>
                    @foreach (var user in ViewData[role] as IList<ApplicationUser>)
                    {
                        if (user.UserName == item.UserName)
                        {
                            ViewData["UserExist"] = "Yes";
                        }
                    }
                    @if(ViewData["UserExist"].Equals("Yes"))
                    {
                        <a asp-action="RemoveFromRole" asp-route-username="@item.UserName" asp-route-role="@role">Remove from Role</a>
                    }
                    else
                    {
                        <a asp-action="AddToRole" asp-route-username="@item.UserName" asp-route-role="@role">Add to Role</a>
                    }
                </td>
                ViewData["UserExist"] = "No";
            }
</tr>
}
    </tbody>
</table>
